<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/33ef08ea-1ffa-4ff9-be41-6b78c6a4bbdc/resourcegroups/WebDotNetMentoringProgram/providers/Microsoft.Web/sites/WebDotNetMentoringProgram</ResourceId>
    <ResourceGroup>WebDotNetMentoringProgram</ResourceGroup>
    <ApiResourceId>/subscriptions/33ef08ea-1ffa-4ff9-be41-6b78c6a4bbdc/resourceGroups/WebDotNetMentoringProgram/providers/Microsoft.ApiManagement/service/WebDotNetMentoringProgramapi/apis/WebDotNetMentoringProgram</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webdotnetmentoringprogram.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>262ac2c5-e769-482f-962e-2bc0132f56b4</ProjectGuid>
    <MSDeployServiceURL>webdotnetmentoringprogram.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebDotNetMentoringProgram</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$WebDotNetMentoringProgram</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>