@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if(User.Identity.IsAuthenticated)
{
    <div class="container align-content-center">
        <div class="col-sm-0 col-md-6 col-lg-7">
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 text-end">
            <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2 text-end">
            <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </div>
    </div>
}
else
{
    <div class="container text-end">
        <div class="col-sm-0 col-md-6 col-lg-8">
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2 text-end">
            <a class="text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2 text-end">
            <a class="text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
    </div>
}
