@model IEnumerable<WebDotNetMentoringProgram.Models.Supplier>

@{
    ViewData["Title"] = "Index";
}

<h1>Suppliers</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
        </tr>
}
    </tbody>
</table>
